<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
	<div class="span6 offset3">
	<%= form for(@user) do |f| %>
		<%= render 'shared/error messages' %>

		<%= f.label :name %>
		<%= f.text field :name %>

		<%= f.label :email %>
		<%= f.text field :email %>

		<%= f.label :password %>
		<%= f.password field :password %>

		<%= f.label :password confirmation, "Confirm Password" %>
		<%= f.password field :password confirmation %>
			
		<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
	<% end %>

	<%= gravatar for @user %>
		<a href="http://gravatar.com/emails">change</a>
	</div>
</div>